    <div id="main">
        <div class="header">
            <h1>Login</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">
            <form class="pure-form pure-form-stacked" method='post' action='/'>
              <input type="text"  placeholder="username" name="username">
              <input type="password" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Login</button>
            </form>

            <form class="pure-form pure-form-stacked" method='post' action='/new'>
              <input type="text"  placeholder="username" name="username">
              <input type="password" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Create</button>
            </form>





        </div>
    </div>
</div>

