    <div id="main">
        <div class="header">
            <h1>survey guerilla</h1>
            <h2>join the information revolucion</h2>
        </div>

        <div class="content">
            <form class="pure-form pure-form-stacked" method='post' action='/'>
              <input type="text"  placeholder="username" name="username">
              <input type="password" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Login</button>
            </form>

            <form class="pure-form pure-form-stacked" method='post' action='/new'>
              <input type="text"  placeholder="username" name="username">
              <input type="password" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Create</button>
            </form>


                <img src="/img/guerillagorilla.png" id="guerilla_gorilla">


        </div>
    </div>
</div>

