    <div id="main">
        <div class="header">
            <h1>Login</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">
            <form class="pure-form pure-form-stacked" id="form-creator" method='post' action='/'>
              Survey Title: <input type="text" name="survey[title]">
              <br><br>
              Survey Description: <textarea name="survey[description]"></textarea>
              <ol id="question_list">
              </ol>

              <button type="button" id="new-question" class="new pure-button pure-button-primary">New Question</button>
            </form>


        </div>
    </div>
</div>

