<div id="main">
  <div class="header">
    <h1>survey guerilla</h1>
    <h2>join the information revolucion</h2>
  </div>
  <div class="content">
    <h1>Survey Results for <%=@survey.title%></h1>
    <ol>
      <% @survey.questions.each do |question|%>
      <li> To the question: <br>
        <span class='question'><%=question.text%></span>:<br>
        <ul>
          <% question.answers.each do |answer| %>
          <li><span class='takersCount'><%=answer.survey_takers.count%></span> revolutionary(s) answered <span class='answer'><%=answer.text%></span>.</li>
          <%end %>
          <!-- <div id="chartdiv" style="height:400px;width:300px; "></div> -->
        </ul>
      </li>
      <%end%>
    </ol>
  </div>
</div>
