<h1>Survey Results for <%=@survey.title%></h1>
<ol>
  <% @survey.questions.each do |question|%>
    <li> To the question: <br>
      <%=question.text%>:<br>
      <ul>
      <% question.answers.each do |answer| %>
        <li><%=answer.survey_takers.count%> revolutionary(s) answered <%=answer.text%>.</li>
      <%end %>
      </ul>
    </li>
  <%end%>
</ol>


