<div id="main">
  <div class="header">
    <h1>survey guerilla</h1>
    <h2>join the information revolucion</h2>
  </div>
  <div class="content">
    <ul>
      <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>"><%=survey.title%></a></li>
      <%end%>
    </ul>
  </div>
</div>
