<div id="main">
  <div class="header">
    <h1>Choose a survey</h1>

  </div>
  <div class="content">
    <ul id="survey_list">
      <% @surveys.each do |survey| %>
      <li><img src="/img/gun.png"><a href="/surveys/<%=survey.id%>"><%=survey.title%></a></li>
      <%end%>
    </ul>
  </div>
</div>
