body {
  font-family:'metroregular';
}
#menu {
  font-size: 16px;
  width: 225px;
}
.header {
  padding-top: 5px;
  background: #aaa;
}
.pure-form-stacked {
  float: left;
  background: #ddd;
  width: 280px;
  padding: 20px 5px 20px 20px;
  margin: 50px 0 0 25px;
  border: 1px #000 solid;
}
.pure-button-primary {
  background: #777;
}
ul li {
  list-style-type: none;
}
.content {
  background: #BF0000;
  width: 700px;
}
#guerilla_gorilla {
  z-index: 2;
  margin: 30px 0 0 0;
  position: relative;
}
